<header>
	<div class="cover">
		<h2>About</h2>
		<ul id="subnavbar">
      <li><%= link_to "History", about_path, {:class => add_active_class_if("/about")}%></li>
      <!-- <li><%= link_to "Careers", careers_path, {:class => add_active_class_if("/careers")}%></li> -->
      <li><%= link_to "Sponsors", sponsors_path, {:class => add_active_class_if("/sponsors")}%></li>
    </ul>
	</div>
</header>
<div id="founderquote">
	<blockquote><p>"We were to form an organization which might find a great field of work in being of mutual assistance to each other in future business life."</p></blockquote>
	<dl>
		<dt>Howard M. Jefferson</dt>
		<dd>Founder, Alpha Kappa Psi</dd>
	</dl>
</div>
<div id="history">
	<div class="cover">
		<h3>The Beginning...</h3>
		<p>The story of Alpha Kappa Psi begins in 1904 at New York University, Washington Square, New York. Howard M. Jefferson, Frederic R. Leach, Nathan Lane, Jr. and George L. Bergen grew to be close friends while attending night classes and walking back home together over the Brooklyn Bridge. These eager, serious-minded students pondered the idea of a fraternity over the bridge, and later they became the founders and the first elected members of Alpha Kappa Psi.</p>
	</div>
</div>
<div id="values">
	<div class="cover">
		<h3>Our Values</h3>
		<p>The Fraternity was founded on the principles of educating its members and the public to appreciate and demand higher ideals in business and to further the individual welfare of members during college and beyond. College men and women everywhere are discovering that Alpha Kappa Psi is much more than just another organization or club — it is a unique, prestigious association of students, professors, graduates and professionals with common interests and goals. They join Alpha Kappa Psi to take advantage of valuable education, friendships, and networking opportunities.</p>
	</div>
</div>
<div id="chapterinfo">
	<div class="cover">
		<h3>Omicron Omega</h3>
		<p>At a local level, Alpha Kappa Psi students use various skills taught in the classroom to acquire life skills such as the art of compromise, consensus building, project management, team building and networking. We achieve this by operating the fraternity as a "corporation" and reaching out to faculty and entrepreneurs locally to develop our professionals skills. Ultimately, our members gain an understanding of the importance of service, develop an appreciation of diversity, and utilize critical thinking skills to overcome challenges and celebrate successes.</p>
	</div>
</div>
<div id="companies">
	<div class="cover">
		<h3>Few Places We're At</h3>
		<ul>
			<li>Google</li>
			<li>Apple</li>
			<li>Samsung</li>
			<li>Microsoft</li>
			<li>Cisco</li>
			<li>Dreamworks</li>
			<li>ESPN</li>
			<li>Oracle</li>
			<li>Ernst &amp; Young</li>
			<li>Pwc</li>
			<li>Deloitte</li>
			<li>Morgan Stanley</li>
			<li>JP Morgan Chase</li>
			<li>Yelp</li>
			<li>Washington Capitals</li>
			<li>FindTheBest</li>
			<li>Square</li>
		</ul>
	</div>
</div>

<div id="contactabout">
	<p class="linkclickblk">If you have any questions, please email us at <em><%= @akpsi_email %></em></p>
</div>

<div id="aboutbrothers">
	<p class="linkclick">Meet our <%= link_to "brothers", brothers_path %></p>
</div>
