<header class="brothers"></header>

<div class="cover">
	<h2>Brothers</h2>
	<ul id="subnavbar">
		<li><%= link_to "Brothers", brothers_path %></li>
    <li><%= link_to "Leadership", leadership_path %></li>
	</ul>
</div>

<div id="roster">
	<ul>
		<li><a href=<%= @abbyhaas %> id="abbyhaas" class="composite-image">Abby Haas</a></li>
		<li><a href=<%= @abrahamponce %> id="abrahamponce" class="composite-image">Abraham Ponce</a></li>
		<li><a href=<%= @aidanlardizabal %> id="aidanlardizabal" class="composite-image">Aidan Lardizabal</a></li>
		<li><a href=<%= @alyssaminami %> id="alyssaminami" class="composite-image">Alyssa Minami</a></li>
		<li><a href=<%= @ammaralsaied %> id="ammaralsaied" class="composite-image">Ammar Alsaied</a></li>
		<li><a href=<%= @andrewllerenas %> id="andrewllerenas" class="composite-image">Andrew Llerenas</a></li>
		<li><a href=<%= @austinfreeman %> id="austinfreeman" class="composite-image">Austin Freeman</a></li>
		<li><a href=<%= @brittny_moya_tejeda %> id="brittny_moya_tejeda" class="composite-image">Britnny Moya-Tejeda</a></li>
		<li><a href=<%= @bryanmireles %> id="bryanmireles" class="composite-image">Bryan Mireles</a></li>
		<li><a href=<%= @chelseycrowne %> id="chelseycrowne" class="composite-image">Chelsey Crowne</a></li>
		<li><a href=<%= @chiachu %> id="chiachu" class="composite-image">Chia Chu</a></li>
		<li><a href=<%= @chrismavry %> id="chrismavry" class="composite-image">Chris Mavry</a></li>
		<li><a href=<%= @christinaliu %> id="christinaliu" class="composite-image">Christina Liu</a></li>
		<li><a href=<%= @christinenguyen %> id="christinenguyen" class="composite-image">Christine Nguyen</a></li>
		<li><a href=<%= @colinmcculloch %> id="colinmcculloch" class="composite-image">Colin McCulloch</a></li>
		<li><a href=<%= @connorhume %> id="connorhume" class="composite-image">Connor Hume</a></li>
		<li><a href=<%= @daniparsons %> id="daniparsons" class="composite-image">Dani Parsons</a></li>
		<li><a href=<%= @dustintong %> id="dustintong" class="composite-image">Dustin Tong</a></li>
		<li><a href=<%= @elizabethsanders %> id="elizabethsanders" class="composite-image">Elizabeth Sanders</a></li>
		<li><a href=<%= @gracepenner %> id="gracepenner" class="composite-image">Grace Penner</a></li>
		<li><a href=<%= @isaactorres %> id="isaactorres" class="composite-image">Isaac Torres</a></li>
		<li><a href=<%= @jacobmanuel %> id="jacobmanuel" class="composite-image">Jacob Manuel</a></li>
		<li><a href=<%= @jadedegraffe %> id="jadedegraffe" class="composite-image">Jade DeGraffe</a></li>
		<li><a href=<%= @jennymcintyre %> id="jennymcintyre" class="composite-image">Jenny McIntyre</a></li>
		<li><a href=<%= @jessicagonsalves %> id="jessicagonsalves" class="composite-image">Jessica Gonsalves</a></li>
		<li><a href=<%= @jilliangrabenstein %> id="jilliangrabenstein" class="composite-image">Jillian Grabenstein</a></li>
		<li><a href=<%= @jocelynmartinez %> id="jocelynmartinez" class="composite-image">Jocelyn Martinez</a></li>
		<li><a href=<%= @jordandomingo %> id="jordandomingo" class="composite-image">Jordan Domingo</a></li>
		<li><a href=<%= @karaluttrell %> id="karaluttrell" class="composite-image">Kara Luttrell</a></li>
		<li><a href=<%= @katietschida %> id="katietschida" class="composite-image">Katie Schida</a></li>
		<li><a href=<%= @katrinagregorian %> id="katrinagregorian" class="composite-image">Katrina Gregorian</a></li>
		<li><a href=<%= @kaylaseyedjafari %> id="kaylaseyedjafari" class="composite-image">Kayla Seyedjafari</a></li>
		<li><a href=<%= @kileysmith %> id="kileysmith" class="composite-image">Kiley Smith</a></li>
		<li><a href=<%= @kumarkilambi %> id="kumarkilambi" class="composite-image">Kumar Kilambi</a></li>
		<li><a href=<%= @lianamanriquez %> id="lianamanriquez" class="composite-image">Liana Manriquez</a></li>
		<li><a href=<%= @malcomkruger %> id="malcomkruger" class="composite-image">Malcom Kruger</a></li>
		<li><a href=<%= @matthrachovy %> id="matthrachovy" class="composite-image">Matt Rachovy</a></li>
		<li><a href=<%= @matthewflores %> id="matthewflores" class="composite-image">Matthew Flores</a></li>
		<li><a href=<%= @matthewleong %> id="matthewleong" class="composite-image">Matthew Leong</a></li>
		<li><a href=<%= @maysonlee %> id="maysonlee" class="composite-image">Mayson Lee</a></li>
		<li><a href=<%= @michaelanewsom %> id="michaelanewsom" class="composite-image">Michaela Newsom</a></li>
		<li><a href=<%= @nickmontesano %> id="nickmontesano" class="composite-image">Nick Montesano</a></li>
		<li><a href=<%= @nicole_alexistolentino %> id="nicole_alexistolentino" class="composite-image">Nicole-Alexis Tolentino</a></li>
		<li><a href=<%= @philipgalicia %> id="philipgalicia" class="composite-image">Philip Galicia</a></li>
		<li><a href=<%= @rachelglenn %> id="rachelglenn" class="composite-image">Rachel Glenn</a></li>
		<li><a href=<%= @rasmusgrunnet_jepsen %> id="rasmusgrunnet_jepsen" class="composite-image">Rasmus Grunnet-Jepsen</a></li>
		<li><a href=<%= @rikimack %> id="rikimack" class="composite-image">Riki Mack</a></li>
		<li><a href=<%= @ronnellcuison %> id="ronnellcuison" class="composite-image">Ronnell Cuison</a></li>
		<li><a href=<%= @sanamfaramarzi %> id="sanamfaramarzi" class="composite-image">Sanam Faramarzi</a></li>
		<li><a href=<%= @shannondalton %> id="shannondalton" class="composite-image">Shannon Dalton</a></li>
		<li><a href=<%= @sophiedominguez %> id="sophiedominguez" class="composite-image">Sophie Dominguez</a></li>
		<li><a href=<%= @stephaniechiou %> id="stephaniechiou" class="composite-image">Stephanie Chiou</a></li>
		<li><a href=<%= @stephaniehanawalt %> id="stephaniehanawalt" class="composite-image">Stephanie Hanawalt</a></li>
		<li><a href=<%= @taylerholm %> id="taylerholm" class="composite-image">Tayler Hom</a></li>
		<li><a href=<%= @teaguequillin %> id="teaguequillin" class="composite-image">Teague Quillin</a></li>
		<li><a href=<%= @timshar %> id="timshar" class="composite-image">Tim Shar</a></li>
		<li><a href=<%= @vanessaboullt %> id="vanessaboullt" class="composite-image">Vanessa Boull't</a></li>
		<li><a href=<%= @zoerashid %> id="zoerashid" class="composite-image">Zoe Rashid</a></li>
	</ul>
</div>
