<header>
	<div class="cover">
		<h2>Brothers</h2>
	</div>
</header>
<div id="roster">
	<h3>Executive Board</h3>
	<ul>
		<li><a href=<%= @kavittaghai %> id="kavittaghai" class="composite-image">Kavitta Ghai<em>President</em></a></li>
		<li><a href=<%= @aimeecruz %> id="aimeecruz" class="composite-image">Aimee Cruz<em>VP of Operations</em></a></li>
		<li><a href=<%= @timduong %> id="timduong" class="composite-image">Timothy Duong<em>VP of Finance</em></a></li>
		<li><a href=<%= @andrewchhur %> id="andrewchhur" class="composite-image">Andrew Chhur<em>VP of External Affairs</em></a></li>
		<li><a href=<%= @josecamacho %> id="josecamacho" class="composite-image">Jose Camacho<em>VP of Marketing</em></a></li>

	</ul>
	<ul>
		<li><a href=<%= @melodyyang %> id="melodyyang" class="composite-image">Melody Yang<em>VP of Business Development</em></a></li>
 		<li><a href=<%= @kellysong %> id="kellysong" class="composite-image">Kelly Song<em>VP of Alumni Relations</em></a></li>
 		 <li><a href=<%= @emilygao %> id="emilygao" class="composite-image">Emily Gao<em>VP of Professional Affairs</em></a></li>
 		<li><a href=<%= @heondokim %> id="heondokim" class="composite-image">Heondo Kim<em>VP of Membership</em></a></li>
		<li><a href=<%= @ericachen %> id="ericachen" class="composite-image">Erica Chen<em>VP of Internal Affairs</em></a></li>
		<li><a href=<%= @jasmineli %> id="jasmineli" class="composite-image">Jasmine Li<em>VP of Administration</em></a></li>

	</ul>
	<h3>Committee Chairs</h3>
	<ul>
		<li></li>
		<li><a href=<%= @matthewkim %> id="matthewkim" class="composite-image">Matthew Kim<em>Events Co-Chair</em></a></li>
		<li><a href=<%= @joylee %> id="joylee" class="composite-image">Joy Lee<em>Events Co-Chair</em></a></li>
		<li><a href=<%= @kevinon %> id="kevinon" class="composite-image">Kevin On<em>Philanthropy Chair</em></a></li>
		<li><a href=<%= @anniewong %> id="anniewong" class="composite-image">Annie Wong<em>Bylaws Chair</em></a></li>
		<li></li>
	</ul>
	<ul>
		<li><a href=<%= @josephinecheng %> id="josephinecheng" class="composite-image">Josephine Cheng<em>Risk Management Chair</em></a></li>
		<li><a href=<%= @arthurpan %> id="arthurpan" class="composite-image">Arthur Pan<em>Tech Chair</em></a></li>
		<li><a href=<%= @netachavoinik %> id="netachavoinik" class="composite-image">Neta Chavoinik<em>Audit Chair</em></a></li>

	</ul>
	<h3>Brothers</h3>
	<ul>
		<li><a href=<%= @jordanang %> id="jordanang" class="composite-image">Jordan Ang</a></li>	
		<li><a href=<%= @luisaragon %>	id="luisaragon" class="composite-image">Luis Aragon</a></li>	
		<li><a href=<%= @michaelbik%> id="michaelbik" class="composite-image">Michael Bik</a></li>
		<li><a href=<%= @tiffanychan %> id="tiffanychan" class="composite-image">Tiffany Chan</a></li>
  		<li><a href=<%= @litingchu %> id="litingchu" class="composite-image">Li-Ting Chu</a></li>
		<li><a href=<%= @margaritadanielyants %> id="margaritadanielyants" class="composite-image">Margarita Danielyants</a></li>
		<li><a href=<%= @yokoebata %> id="yokoebata" class="composite-image">Yoko Ebata</a></li>
		<li><a href=<%= @wesleyhan %> id="wesleyhan" class="composite-image">Wesley Han</a></li>
		<li><a href=<%= @ryanhironaka %> id="ryanhironaka" class="composite-image">Ryan Hironaka</a></li>
		<li><a href=<%= @bryanhoang %> id="bryanhoang" class="composite-image">Bryan Hoang</a></li>
		<li><a href=<%= @zhorahovsepyan %> id="zhorahovsepyan" class="composite-image">Zhora Hovsepyan</a></li>
		<li><a href=<%= @saliqhussaini %> id="saliqhussaini" class="composite-image">Saliq Hussaini</a></li>
		<li><a href=<%= @rashijain %> id="rashijain" class="composite-image">Rashi Jain</a></li>
		<li><a href=<%= @caitlynjue %> id="caitlynjue" class="composite-image">Caitlyn Jue</a></li>		
		<li><a href=<%= @benjaminku %> id="benjaminku" class="composite-image">Benjamin Ku</a></li>
		<li><a href=<%= @nihaalkumar %> id="nihaalkumar" class="composite-image">Nihaal Kumar</a></li>
		<li><a href=<%= @nickkwong %> id="nickkwong" class="composite-image">Nick Kwong</a></li>
		<li><a href=<%= @tammylaw %> id="tammylaw" class="composite-image">Tammy Law</a></li>
		<li><a href=<%= @quanle %> id="quanle" class="composite-image">Quan Le</a></li>
		<li><a href=<%= @annalee %> id="annalee" class="composite-image">Anna Lee</a></li>
		<li><a href=<%= @lydiali %> id="lydiali" class="composite-image">Lydia Li</a></li>
		<li><a href=<%= @kellenliu %> id="kellenliu" class="composite-image">Kellen Liu</a></li>
		<li><a href=<%= @joiceelu %> id="joiceelu" class="composite-image">Joicee Lu</a></li>
		<li><a href=<%= @seanmahamongkol %> id="seanmahamongkol" class="composite-image">Sean Mahamongkol</a></li>
		<li><a href=<%= @hienmai %> id="hienmai" class="composite-image">Hien Mai</a></li>
		<li><a href=<%= @ryannjeffmalicdem %> id="ryannjeffmalicdem" class="composite-image">Ryann Jeff Malicdem</a></li>
		<li><a href=<%= @andreametzgar %> id="andreametzgar" class="composite-image">Andrea Metzgar</a></li>
		<li><a href=<%= @jacobmorales %> id="jacobmorales" class="composite-image">Jacob Morales</a></li>
		<li><a href=<%= @fadynaeim %> id="fadynaeim" class="composite-image">Fady Naeim</a></li>
		<li><a href=<%= @brittanynguyen %> id="brittanynguyen" class="composite-image">Brittany Nguyen</a></li>
		<li><a href=<%= @vanasisohanian %> id="vanasisohanian" class="composite-image">Vanasis Ohanian</a></li>
		<li><a href=<%= @yashpal %> id="yashpal" class="composite-image">Yash Pal</a></li>
		<li><a href=<%= @hannahpark %> id="hannahpark" class="composite-image">Hannah Park</a></li>
		<li><a href=<%= @michelleparker %> id="michelleparker" class="composite-image">Michelle Parker</a></li>
		<li><a href=<%= @lilianpham %> id="lilianpham" class="composite-image">Lilian Pham</a></li>
		<li><a href=<%= @alejandrarios %> id = "alejandrarios" class="composite-image">Alejandra Rios</a></li>
		<li><a href=<%= @kennethshen %> id = "kennethshen" class="composite-image">Kenneth Shen</a></li> 
		<li><a href=<%= @samyusridar %> id="samyusridar" class="composite-image">Samyuktha Sridhar</a></li>
		<li><a href=<%= @darrensun %> id="darrensun" class="composite-image">Darren Sun</a></li>
		<li><a href=<%= @evanswerdfeger %> id="evanswerdfeger" class="composite-image">Evan Swerdfeger</a></li>
		<li><a href=<%= @reytang %> id="reytang" class="composite-image">Rey Tang</a></li>
		<li><a href=<%= @jilliantrevarthen %> id="jilliantrevarthen" class="composite-image">Jillian Trevarthen</a></li>
		<li><a href=<%= @philiptsui %> id="philiptsui" class="composite-image">Philip Tsui</a></li>
		<li><a href=<%= @chineloufondu %> id="chineloufondu" class="composite-image">Chinelo Ufondu</a></li>
		<li><a href=<%= @alexisvalenzuela %> id="alexisvalenzuela" class="composite-image">Alexis Valenzuela</a></li>
		<li><a href=<%= @kellyvu %> id="kellyvu" class="composite-image">Kelly Vu</a></li>
		<li><a href=<%= @alecwang %> id="alecwang" class="composite-image">Alec Wang</a></li>
		<li><a href=<%= @cindyyong %> id="cindyyong" class="composite-image">Cindy Yong</a></li>
		<li><a href=<%= @henryyu %> id="henryyu" class="composite-image">Henry Yu</a></li>
		<li><a href=<%= @kennethzhang %> id="kennethzhang" class="composite-image">Kenneth Zhang</a></li>
		<li><a href=<%= @victoriazhang %> id="victoriazhang" class="composite-image">Victoria Zhang</a></li>
		<li><a href=<%= @izzyzheng %> id="izzyzheng" class="composite-image">Isabel Zheng</a></li>
		<li><a href=<%= @davidzhong %> id="davidzhong" class="composite-image">David Zhong</a></li>
		<li><a href=<%= @cruisezhou %> id="cruisezhou" class="composite-image">Cruise Zhou</a></li>
	</ul>
</div>
