<header>
	<div class="cover">
		<h2>Contact</h2>
	</div>
</header>
<div id="contactintro">
	<h3>Find us on the web</h3>
	<p>You can contact us or follow us via any of these services</p>
	<ul id="socialmedia">
		<!--<li id="phone"><span></span><%= @akpsi_phone %></li>-->
		<li id="contactemail"><span></span><%= @akpsi_email %></li>
		<li><a id="facebook" href="https://www.facebook.com/AKPsiUCSB/"><span></span>Facebook</a></li>
		<li><a id="twitter" href="http://twitter.com/AKPsiUCSB"><span></span>Twitter</a></li>
		<li><a id="instagram" href="http://instagram.com/akpsiucsb/"><span></span>Instagram</a></li>
	</ul>
	<div id="contactWrapper">
		<h4 id="messageicon">Send us a message!</h4>
		<%= form_for @contact_form,  { :url => contact_path } do |f| %>
			<div id="stageleft">
				<%= f.label :name, "Contact Name" %>
	  		<%= f.text_field :name %>
	  	</div>
	  	<div id="stageright">
	  		<%= f.label :email %>
	  		<%= f.text_field :email %>
  		</div>
  		<%= f.label :subject %>
  		<%= f.text_field :subject %>
  		<%= f.label :message %>
  		<%= f.text_area :message %>
  		<%= f.submit "Submit" %>
		<% end %>
		<!-- <h4 id="messageicon">Send us a message!!!</h4>
 		@if( Session::has('success') )
 			<p id='success'>{{ Session::get('success') }}</p>
 		@endif
		{{ Form::open(array('route' => 'sendmail', 'id' => 'contactform')) }}
			<div id="stageleft">
				<label for="contactname">Name</label>
				<input type="text" name="contactname" id="contactname">
				{{ $errors->first('contactname', "<label for='contactname' class='error'>:message</label>") }}
			</div>
			<div id="stageright">
				<label for="email">Email</label>
				<input type="email" name="email" id="email">
				{{ $errors->first('email', "<label for='email' class='error'>:message</label>") }}
			</div>
			<label for="subject">Subject</label>
			<input type="text" name="subject" id="subject">
			{{ $errors->first('subject', "<label for='subject' class='error'>:message</label>") }}
			<label for="mail">Message</label>
			<textarea name="mail" id="mail"></textarea>
			{{ $errors->first('mail', "<label for='mail' class='error'>:message</label>") }}
			<input id="submit" type="submit" value="Send Message" name="submit" title="Submit Message">
		{{ Form::close() }} -->
	</div>
</div>
