<header class="leadership"></header>

<div class="cover">
	<h2>Leadership</h2>
</div>

<div id="leadership">
	<div>
		<div class="leaderphoto">
			<a href=<%= @connorhume %> id="connorhume" class="composite-image">President</a>
		</div>
		<div class="leaderdescription">
			<h1>Connor Hume</h1>
			<p>
				My name is Connor Hume and I am in my fourth year at San Diego State University studying Political Science with a focus on Public Law. After completing my college career and law school I intend on entering the legal field acting as a voice for the voiceless. Business is a part of every field and industry and thanks to Alpha Kappa Psi I have been able to greatly grow my prospects in the legal field. Alpha Kappa Psi has provided me the skills and resources to effectively leverage my networks, secure any internship I would pursue, and excel in personal and professional communication.
			</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @elizabethsanders %> id="elizabethsanders" class="composite-image">Vice President</a>
		</div>
		<div class="leaderdescription">
			<h1>Beth Sanders</h1>
			<p>
				Hi everyone! My name is Elizabeth Sanders. I was born and raised in the Southwest of England and moved to San Jose, California in 2008. I am studying Hospitality and Tourism Management with an emphasis in meetings and events. In 10 years, I hope to have had a fabulous career in hotels and to be starting a happy and healthy family. I am primarily motivated by my family and my dreams. I am serving as the Executive Vice President this year, which involves overseeing all of our amazing VP's and all administrative work for our chapter. Why rush AKPsi? You will gain confidence as a speaker and in yourself, find long lasting friendships, and excel both personally & professionally.
			</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @jacobmanuel %> id="jacobmanuel" class="composite-image">VP Finance</a>
		</div>
		<div class="leaderdescription">
			<h1>Jacob Manuel</h1>
			<p>I look forward to meeting you!</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @michaelanewsom %> id="michaelanewsom" class="composite-image">VP Public Relations</a>
		</div>
		<div class="leaderdescription">
			<h1>Michaela Newsom</h1>
			<p>I’m a 4th year Urban Sustainability major with plans to attend law school after my undergrad at SDSU. Rushing Mu Sigma made me a better person, student, and friend. I have the tools necessary to succeed in life and I’ve met my lifelong friends in this chapter.</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @chrismavry %> id="chrismavry" class="composite-image">VP Alumni Relations</a>
		</div>
		<div class="leaderdescription">
			<h1>Chris Mavry</h1>
			<p>
				As an international business major, I love to explore the exotic cultures and locations that I’ve only ever read about in books. I use my passion for filmmaking to document my trips and share the experiences with friends. Whenever I’m not traveling, I’m trying new recipes, boxing, or reading. After graduation I will use my passion for business and begin to explore the start-up world.
			</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @taylerholm %> id="taylerholm" class="composite-image">VP Marketing</a>
		</div>
		<div class="leaderdescription">
			<h1>Tayler Holm</h1>
			<p>
				Recruitment and brand awareness is the name of the game. I am a fourth year student passionate about marketing, bringing people together, and photography- to capture the best moments! I didn't choose AKPsi, AKPsi chose me. It was a gravity that pulled me into this organization, and I can honestly say I've met my best friends and the most successful, amazing people I'll ever know.
			</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @gracepenner %> id="gracepenner" class="composite-image">VP Internal</a>
		</div>
		<div class="leaderdescription">
			<h1>Grace Penner</h1>
			<p>
				I look forward to meeting you!
			</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @matthewflores %> id="matthewflores" class="composite-image">VP Philanthropy</a>
		</div>
		<div class="leaderdescription">
			<h1>Matthew Flores</h1>
			<p>
				Born and raised in San Diego, 4th year majoring in Criminal Justice. In 10 years I see myself   working for the Department of Defense or a career within the Navy. What motivates me is beating odds, always rooting for underdogs to end up on top. Before AKY I used to be in a social fraternity and it wasn't meant for me, joining AKY has been the greatest thing I've done while in college, I wanted to surrounded myself around people that were as motivated as I am and AKY was that. AKY is Family.
			</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @nicole_alexistolentino %> id="nicole_alexistolentino" class="composite-image">VP Funding</a>
		</div>
		<div class="leaderdescription">
			<h1>Nicole Tolentino</h1>
			<p>
				My name is Nicole Tolentino and I am from Orange County, CA. However my parents just moved to Hawaii, so visiting home for breaks is always a vacation! I'm a fourth year student studying Kinesiology with a major in Pre-Physical Therapy. I hope to graduate this year and continue on my path towards becoming a physical therapist and hope to run my own clinic someday. What motivates me is surrounding myself with those whose drive and passion are so great that it is infectious to others! My biggest inspiration would also have to be my family as they are foundation to what keeps me strong.
				<br></br>
				<!-- For Alpha Kappa Psi, I am serving this semester as your Vice President of Funding. I'm here to help the chapter raise money so we can continue contributing to our successes of shaping people and shaping business. I have been extremely honored to be a part of this organization, as Alpha Kappa Psi has given me an amazing network of students on campus. My brothers in this organization have invested in me and helped me to invest in myself during my college career. They keep me motivated and my passions strong. I chose AKPsi when I was rushing for the challenge it presented, but I continue to be a part of AKPsi for the people and to expand our mission. -->
			</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @ammaralsaied %> id="ammaralsaied" class="composite-image">VP Professional Development</a>
		</div>
		<div class="leaderdescription">
			<h1>Ammar Alsaied</h1>
			<p>
				Hello everyone! My name is Ammar Alsaied and I am the Vice President of Professional Development at Alpha Kappa Psi- Mu Sigma. While I've been settled in San Diego for the last 9 years, I was originally born in Canada and have even lived in the San Francisco Bay Area for a while. I am a third year International Business major with an emphasis in Arabic and the Middle East & North Africa, and would like to see myself working in the business end of the tech industry, whether it be in a social media giant like Twitter or a gaming empire like Blizzard Entertainment.
				<br></br>
				<!-- A major part of my mentality in Professional Development is the integration of one's personability and individuality with their professionalism, and I believe the importance of that balance is encouraged in Alpha Kappa Psi. Brotherhood is another value that I hold close to my heart, and I knew that Alpha Kappa Psi held Brotherhood to high esteem from the moment I attended my first rush event. I can confidently say that I have made some of my closest friendships through Alpha Kappa Psi, and it certainly is a beautiful thing to be surrounded by so many motivated, ambitious people that in turn encourage me to be the best version of myself. -->
			</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @shannondalton %> id="shannondalton" class="composite-image">VP Communication</a>
		</div>
		<div class="leaderdescription">
			<h1>Shannon Dalton</h1>
			<p>
				I look forward to meeting you!
			</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @matthrachovy %> id="matthrachovy" class="composite-image">Master of Membership</a>
		</div>
		<div class="leaderdescription">
			<h1>Matthew Hrachovy</h1>
			<p>
				Hi everyone! My name is Matt Hrachovy. I'm a senior from Yorba Linda, California, majoring in Business Administration - Marketing. I chose to rush AKPSI because I wanted to push myself to be the best possible version of myself and make some amazing friends along the way. This semester I have the honor of serving as Mu Sigma's Master of Membership, where I get to help facilitate growth and development among our potential new members. If you see me around campus feel free to say hi! I hope to see you around!
			</p>
		</div>
	</div>

	<div>
		<div class="leaderphoto">
			<a href=<%= @bryanmireles %> id="bryanmireles" class="composite-image">Master of Rituals</a>
		</div>
		<div class="leaderdescription">
			<h1>Bryan Mireles</h1>
			<p>
				I'm a third year management major from Los Angeles. I hope to one day own my own businesses including a non-profit. I think success in life depends on the relationships we are able to form. Forming meaningful relationships is the reason I decided to join AKPsi and it is easily the best decision I've made.
			</p>
		</div>
	</div>

	<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
</div>
