<header class="rush"></header>

<div class="cover">
	<h2>#whyakpsi</h2>
	<ul id="subnavbar">
		<li><%= link_to "Events", rush_path %></li>
    <li><%= link_to "#whyAKPsi", whyakpsi_path %></li>
		<li><%= link_to "FAQ", faq_path %></li>
	</ul>
</div>

<div id="whyakpsi">
	<div>
		<div class="video">
			<iframe id="mp4_vid" src="https://www.youtube.com/embed/Vc6c9w8_TBg" frameborder="0" gesture="media" allowfullscreen></iframe>
		</div>
		<div class="video">
			<p>
				Welcome to Fall 2017 rush! Each and every semester, SDSU's Mu Sigma chapter of Alpha Kappa Psi hosts two weeks of exciting, interactive meet and greet events- opening up the opportunity to become part of one of the greatest student organizations in the country. Co-ed and open to all majors, we are a group of professionals that take pride in our diversity and build strength from our differences. Not only do we excel in the professional world, but in the life-long friendships we make. Learn about what you can gain from our leadership program, including interview, resume, public speaking, presentation and writing skills. Take that first step into your future and check us out this rush season.
			</p>
		</div>
	</div>
	<hr>

	<div>
		<div class="signup">
			<h1>Sign up to receive updates on Fall 2018 recruitment!</h1>
			<br></br>
			<%= form_for @email_form,  { :url => whyakpsi_path } do |f| %>
				<%= f.label :email, class: "email_label" %>
				<%= f.text_field :email, class: "email_field" %>
			<%= f.submit "Submit", class: "submit_label" %>
			<% end %>
			</div>
	</div>
	<hr>

	<br></br><br></br><br></br>
</div>
