<div id="signin_info">
  <h1>TOTAL SIGNINS: <b><%= @total_count %></b></h1>
  <h1>INFORMATION NIGHT SIGNINS: <b><%= @info_count %></b></h1>
  <h1>PHILANTHROPY NIGHT SIGNINS: <b><%= @phil_count %></b></h1>
  <h1>PROFESSIONAL NIGHT SIGNINS: <b><%= @pro_count %></b></h1>
  <h1>BROTHERHOOD NIGHT SIGNINS: <b><%= @bro_count %></b></h1>
  </br>
  <h1>FRESHMAN COUNT: <b><%= @fresh_count %></b></h1>
  <h1>SOPHOMORE COUNT: <b><%= @soph_count %></b></h1>
  <h1>JUNIOR COUNT: <b><%= @jun_count %></b></h1>
  <h1>SENIOR COUNT: <b><%= @sen_count %></b></h1>
  <h1>TRANSFER COUNT: <b><%= @trans_count %></b></h1>
  </br>
  <h1># REACHED BY TABLING/FLYERING: <b><%= @tabling_count %></b></h1>
  <h1># REACHED BY FACBEOOK: <b><%= @facebook_count %></b></h1>
  <h1># REACHED BY EMAIL: <b><%= @email_count %></b></h1>
  <h1># REACHED BY INSTAGRAM/TWITTER: <b><%= @insta_twitter_count %></b></h1>
  <h1># REACHED BY OTHER: <b><%= @other_count %></b></h1>
  <h1># REFERRED: <b><%= @refer_count %></b></h1>
</div>
<div id="tableWrapper">
  <table>
    <thead>
      <tr>
        <th colspan="5">INFORMATION NIGHT SIGN-INS</th>
      </tr>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Major</th>
        <th>Email</th>
        <th>Referred By</th>
      </tr>
    </thead>
    <tbody>
      <% @signin.each do |data| %>
        <% if data.info_night %>
          <tr>
            <td><%= data.first_name %></td>
            <td><%= data.last_name %></td>
            <td><%= data.major %></td>
            <td><%= data.email %></td>
            <td><%= data.referred_by %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="5">PHILANTHROPY NIGHT SIGN-INS</th>
      </tr>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Major</th>
        <th>Email</th>
        <th>Referred By</th>
      </tr>
    </thead>
    <tbody>
      <% @signin.each do |data| %>
        <% if data.phil_night %>
          <tr>
            <td><%= data.first_name %></td>
            <td><%= data.last_name %></td>
            <td><%= data.major %></td>
            <td><%= data.email %></td>
            <td><%= data.referred_by %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="5">PROFESSIONAL NIGHT SIGN-INS</th>
      </tr>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Major</th>
        <th>Email</th>
        <th>Referred By</th>
      </tr>
    </thead>
    <tbody>
      <% @signin.each do |data| %>
        <% if data.pro_night %>
          <tr>
            <td><%= data.first_name %></td>
            <td><%= data.last_name %></td>
            <td><%= data.major %></td>
            <td><%= data.email %></td>
            <td><%= data.referred_by %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="5">BROTHERHOOD NIGHT SIGN-INS</th>
      </tr>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Major</th>
        <th>Email</th>
        <th>Referred By</th>
      </tr>
    </thead>
    <tbody>
      <% @signin.each do |data| %>
        <% if data.bro_night %>
          <tr>
            <td><%= data.first_name %></td>
            <td><%= data.last_name %></td>
            <td><%= data.major %></td>
            <td><%= data.email %></td>
            <td><%= data.referred_by %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<div>
