<header>
  <div class="cover">
    <h2><%= @signin.first_name + " " + @signin.last_name %></h2>
    <ul id="subnavbar">
      <li><%= link_to "Database Index", signins_path %></li>
    </ul>
  </div>
</header>
<div id="membershipWrapper">
  <%= form_for @signin, url: {action: "update"} do |f| %>
    <%= f.label "Update rush night attendance" %>
    <div id="checkbox">
      <%= f.label :info_night, "Information Night" %>
      <%= f.check_box :info_night, :value => @signin.info_night %>
      <%= f.label :pro_night, "Professional Night" %>
      <%= f.check_box :pro_night, :value => @signin.pro_night %>
      <%= f.label :phil_night, "Philanthropy Night" %>
      <%= f.check_box :phil_night, :value => @signin.phil_night %>
      <% f.label :date_night, "Speed-Dating Night" %>
      <% f.check_box :date_night, :value => @signin.date_night %>
      <%= f.label :bro_night, "Brotherhood Night" %>
      <%= f.check_box :bro_night, :value => @signin.bro_night %>
    </div>
    <%= f.submit "Submit" %>
  <% end %>
</div>
