<header>
  <div class="cover">
    <h2><%= @signin.first_name + " " + @signin.last_name %></h2>
    <ul id="subnavbar">
      <li><%= link_to "Database Index", signins_path %></li>
      <li><%= link_to "Update Attendance", edit_signin_path(:id => @signin.id) %></li>
    </ul>
  </div>
</header>
<div id="tableWrapper">
  <table>
    <thead>
      <tr>
        <th>Major</th>
        <th>Year</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Events Attended</th>
        <th>Found Through</th>
        <th>Referred By</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @signin.major %></td>
        <td><%= "Freshman" if @signin.freshman %>
            <%= "Sophomore" if @signin.sophomore %>
            <%= "Junior" if @signin.junior %>
            <%= "Senior" if @signin.senior %>
            <%= "Transfer" if @signin.transfer %></td>
        <td><%= @signin.email %></td>
        <td><%= @signin.phone %></td>
        <td><%= "Information Night" if @signin.info_night %></td>
        <td><%= "Tabling/Flyering" if @signin.tabling_flyering %></td>
        <td><%= @signin.referred_by %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= "Professional Night" if @signin.pro_night %></td>
        <td><%= "Facebook" if @signin.facebook %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= "Philanthropy Night" if @signin.phil_night %></td>
        <td><%= "Instagram/Twitter" if @signin.insta_twitter %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= "Brotherhood Night" if @signin.bro_night %></td>
        <td><%= "Email" if @signin.department_email %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= "Speed-Dating Night" if @signin.date_night %></td>
        <td><%= @signin.other %></td>
        <td></td>
      </tr>
      <tr>
        <td style="float: left;"><%= button_to "Delete", signin_path(:id => @signin.id), :method => :delete %></td>
      </tr>
    </tbody>
  </table>
<div>
