<div id="diningHeader">
  <div class="cover">
    <h2>Dining</h2>
    <ul id="subnavbar">
      <li><%= link_to "Dining", ivconnect_dining_path, {:class => add_active_class_if("/ivconnect/dining")}%></li>
      <li><%= link_to "Service", ivconnect_service_path, {:class => add_active_class_if("/ivconnect/service")}%></li>
      <li><%= link_to "Lifestyle", ivconnect_lifestyle_path, {:class => add_active_class_if("/ivconnect/lifestyle")}%></li>
    </ul>
  </div>
</div>
<div id="directory">
  <% @business.each do |data| %>
    <% if data.service == "dining" %>
      <div class="business">
          <%= image_tag data.logo_image_id %>
          <span class="caption"><%= link_to data.name, ivconnect_path(:id => data.id) %></span>
      </div>
    <% end %>
  <% end %>
</div>
