<div id="connectHeader">
  <div class="cover">
    <h2><%= @business.name %></h2>
    <h3><%= @business.category %></h3>
    <ul id="subnavbar">
      <li><%= link_to "Dining", ivconnect_dining_path, {:class => add_active_class_if("/ivconnect/dining")}%></li>
      <li><%= link_to "Service", ivconnect_service_path, {:class => add_active_class_if("/ivconnect/service")}%></li>
      <li><%= link_to "Lifestyle", ivconnect_lifestyle_path, {:class => add_active_class_if("/ivconnect/lifestyle")}%></li>
    </ul>
  </div>
</div>
<div id="profileWrapper">
  <div id="profileImage">
    <%= image_tag @business.profile_image_id %>
  </div>
  <div id="hours">
    <h3>Hours</h3>
    <p>
      <b>Sunday:</b> <%= @business.sunday_hours %></br>
      <b>Monday:</b> <%= @business.monday_hours %></br>
      <b>Tuesday:</b> <%= @business.tuesday_hours %></br>
      <b>Wednesday:</b> <%= @business.wednesday_hours %></br>
      <b>Thursday:</b> <%= @business.thursday_hours %></br>
      <b>Friday:</b> <%= @business.friday_hours %></br>
      <b>Saturday:</b> <%= @business.saturday_hours %></br>
    </p>
  </div>
  <div id="info">
    <b>IV Connect ID: </b><%= @business.id %></br>
    </br>
    <b>One Time Deal: </b><%= @business.one_time_deal %></br>
    <b>Recurring Deal: </b><%= @business.recurring_deal %></br>
    </br>
    <b>Location: </b><%= @business.address %></br>
    <b>Phone: </b><%= @business.phone %></br>
    <b>Email: </b><%= @business.email %></br>
  </div>
  </br>
  <div id="businessDescription">
    <h3>A little about us</h3>
    <p><%= @business.description %></p>
  </div>
</div>
