<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="navcover">
      <%= link_to "AKPsi | Mu Sigma", root_path, class: 'home_link' %>
      <ul id="navbar">
        <li><%= link_to "About", about_path, {:class => add_active_class_if("/about")}%></li>
        <li><%= link_to "Brothers", brothers_path, {:class => add_active_class_if("/brothers")}%></li>
        <!-- <div class="dropdown">
          <button class="dropbtn"><%= link_to "Brothers", brothers_path, {:class => add_active_class_if("/brothers")}%></button>
          <div class="dropdown-content">
            <%= link_to "Leadership", leadership_path, {:class => add_active_class_if("/leadership")}%>
          </div>
        </div> -->
        <li><%= link_to "Rush", rush_path, {:class => add_active_class_if("/rush")}%></li>
        <li><%= link_to "Make A Wish", "/makeawish" %></li>
        <li><%= link_to "Contact", contact_path, {:class => add_active_class_if("/contact")}%></li>
      </ul>
    </div>
  </nav>

<%= yield %>

<footer>
  <br>
	<p id="copyright">Copyright &#169; Alpha Kappa Psi - Mu Sigma: San Diego State University  |
    <a href="https://www.facebook.com/akpsimusigma/"><img id="facebook"></img></a>
    <a href="https://twitter.com/akpsimusigma?lang=en"><img id="twitter"></img></a>
    <a href="https://www.instagram.com/akpsi_sdsu/"><img id="instagram"></img></a>
  </p>

</footer>

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Oxygen:light,regular,bold">

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-39726599-1', 'www.sdsuakpsi.org');
	ga('send', 'pageview');
</script>
</body>
</html>
